﻿@using Microsoft.Azure.CognitiveServices.Vision.ComputerVision;
@using Microsoft.Azure.CognitiveServices.Vision.ComputerVision.Models;
@using ImageSearch.WebApp.Extensions;
@*@using ImageSearch.WebApp.AppCode;*@

@{
    ViewData["Title"] = "Detail";
    string imageUrl = TempData["ImageUrl"].ToString();
    string imageSource = TempData["ImageSource"].ToString();
}

@model ImageAnalysis

<div class="row">
    <div class="col-sm-6 col-xs-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.Description.Captions[0].Text.FirstLetterToUpperCase()</h5>
                <a href="@imageSource">
                    <img class="card-img-top" src="@Home.GetProxyUrl(new Uri(imageUrl))">
                    @*<img class="card-img-top" src="GetProxy(new Uri(imageUrl))">*@
                    
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Categories</h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Category category in Model.Categories)
                        {
                            <tr>
                                <td>@category.Name</td>
                                <td>@category.Score</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Tags</h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Confidence</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ImageTag tag in Model.Tags)
                        {
                            <tr>
                                <td>@tag.Name</td>
                                <td>@tag.Confidence</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>