﻿@using ImageSearch.WebApp.Models.Search;
@using ImageSearch.WebApp.Extensions;

@{
    ViewData["Title"] = "Search Image";
    List<ImageInfo> images = TempData.Get<List<ImageInfo>>("Images");
}

@model ImageSearchParameters

<div class="container">
    <h2>Search Images</h2>
    <form asp-controller="ImageSearch" asp-action="Index" method="get" id="ImageSearch" data-toggle="validator" role="form" class="needs-validation col-lg-6 offset-lg-3" novalidate>
        <div class="row">
            <div class="col">
                <div class="row form-group justify-content-center">
                    <label asp-for="DataSource">Search Images from:</label>
                    <select asp-for="DataSource" class="form-control">
                        <option value="api">Bing Map API</option>
                        <option value="db">Local Database</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row form-group justify-content-center">
                    <label asp-for="LocationType">Search Location by:</label>
                    <select asp-for="LocationType" class="form-control" onchange="ChangeInputState()">
                        <option value="0">Name</option>
                        <option value="1">GPS Point</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row form-group justify-content-center">
                    <label>Location Name</label>
                    <input asp-for="LocationName" class="form-control" id="LocationName">
                </div>
            </div>
            <div class="col">
                <div class="row form-group justify-content-center">
                    <label>Latitude</label>
                    <input asp-for="Latitude" class="form-control" id="Latitude" disabled>
                </div>
            </div>
            <div class="col">
                <div class="row form-group justify-content-center">
                    <label>Longitude</label>
                    <input asp-for="Longitude" class="form-control" id="Longitude" disabled>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row form-group justify-content-center">
                    <label>Bing Image Search</label>
                    <input asp-for="Query" class="form-control" id="Query">
                </div>
                <div class="row form-group justify-content-center d-none">
                    <label>Results to Return</label>
                    <input asp-for="Count" class="form-control" id="Count" value="36" type="number">
                </div>
                <div class="row form-group justify-content-center d-none">
                    <label>Offset</label>
                    <input asp-for="Offset" class="form-control" id="Offset" value="0" type="number">
                </div>
                <div class="row form-group justify-content-center">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>
    </form>
</div>
@if (images != null)
{
    <div class="container">
        @await Component.InvokeAsync("BingSearchImageGrid", new { images = images.ToList() })
    </div>
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item @(Model.Offset > 0 ? "" : "disabled")">
                <a class="page-link" asp-action="Index" asp-route-count="@Model.Count" asp-route-offset="@(Model.Offset - Model.Count)" asp-route-query="@Model.Query" tabindex="-1" id="Previous">Previous</a>
            </li>
            <li class="page-item @(images.Count < Model.Count ? "disabled" : "")">
                <a class="page-link" asp-action="Index" asp-route-count="@Model.Count" asp-route-offset="@(Model.Offset + Model.Count)" asp-route-query="@Model.Query" id="Next">Next</a>
            </li>
        </ul>
    </nav>
}

@section scripts 
{
   <script>
       function ChangeInputState() {
           
           if ($("#LocationType").val() == 0) {
               $("#LocationName").prop('disabled', false);
               $("#Latitude").prop('disabled', true);
               $("#Longitude").prop('disabled', true);

               $("#LocationName").prop('required', true);
               $("#Latitude").prop('required', false);
               $("#Longitude").prop('required', false);
           }
           else if ($("#LocationType").val() == 1) {
               $("#LocationName").prop('disabled', true);
               $("#Latitude").prop('disabled', false);
               $("#Longitude").prop('disabled', false);

               $("#LocationName").prop('required', false);
               $("#Latitude").prop('required', true);
               $("#Longitude").prop('required', true);
           }           
       }
   </script>
}