﻿@model ImageInfo

<div class="col-xs-12 col-sm-6 col-md-3">
    <div class="card">
        <a asp-action="Detail" asp-route-imageUrl="@Model.ContentUrl" asp-route-imageSource="@Model.HomePageUrl" alt="@Model.Name">
            <img class="card-img-top" src="@Model.ThumbnailUrl" alt="@(Model.Name == null ? "" : Model.Name)">
        </a>
    </div>
</div>