﻿@model Location
@{ Layout = "_Layout"; ViewBag.Title = "Add a Location";}

<h2>Add a Location <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h2>
<form asp-action="AddLocation" method="post">
    <div class="form-group">
        <label for="LocationName">Location Name:</label>
        <input class="form-control" name="LocationName" />
    </div>
    <div class="form-group">
        <label for="LocationDesc">Location Desc:</label>
        <input class="form-control" name="LocationDesc" />
    </div>
    <div class="form-group">
        <label for="Latitude">Latitude:</label>
        <input class="form-control" name="Latitude" />
    </div>
    <div class="form-group">
        <label for="Longitude">Latitude:</label>
        <input class="form-control" name="Longitude" />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Add</button>
    </div>
</form>

@if (Model != null)
{
    <h2>Location</h2>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead>
            <tr>
                <th>LocationID</th>
                <th>Location Name</th>
                <th>Location Desc</th>
                <th>Latitude</th>
                <th>Longitude</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.LocationID</td>
                <td>@Model.LocationName</td>
                <td>@Model.LocationDesc</td>
                <td>@Model.Latitude</td>
                <td>@Model.Longitude</td>
            </tr>
        </tbody>
    </table>
}