﻿@model List<Location>
@{ Layout = "_Layout"; ViewBag.Title = "Search Location";}

<div class="container">
    <h2>Search Locations</h2>
    <form method="post" class="needs-validation col-lg-6 offset-lg-3">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="datasource">Search Locations from:</label>
                    <select name="datasource" class="form-control">
                        <option value="api">Bing Map API</option>
                        <option value="db">Local Database</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="LocationType">Search Location by:</label>
                    <select name="LocationType" id="LocationType" class="form-control" onchange="ChangeInputState()" >
                        <option value="0">Name</option>
                        <option value="1">GPS Point</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="name">Location Name:</label>
                    <input class="form-control" name="name">
                </div>
            </div>
            <div class="col">
                <div class="row form-group justify-content-center">
                    <label>Latitude</label>
                    <input for="Latitude" class="form-control" name="latitude">
                </div>
            </div>
            <div class="col">
                <div class="row form-group justify-content-center">
                    <label>Longitude</label>
                    <input for="Longitude" class="form-control" name="longitude">
                </div>
            </div>
        </div>

        <div class="text-center panel-body">
            <button type="submit" class="btn btn-sm btn-primary">Get Location</button>
        </div>
    </form>

</div>

@if (Model != null && Model.Count > 0)
{
    <h2>Location</h2>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead>
            <tr>
                <th>Location Name</th>
                <th>Location Description</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Set User Location</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.LocationName</td>
                    <td>@item.LocationDesc</td>
                    <td>@item.Latitude</td>
                    <td>@item.Longitude</td>
                    <td>
                        <form asp-action="SetUserLocation" method="post">
                            <input type="hidden" value="@item.LocationID" name="id" />
                            <button type="submit" class="btn btn-sm btn-primary" onclick="return confirm('Are you sure you want to add this location?');">Add to User</button>
                        </form>
                    </td>
                </tr>
            }
            </tbody>
    </table>

}


@section scripts
{
    <script>
        function ChangeInputState() {
        }
    </script>
}