﻿@model IEnumerable<Location>
@{ Layout = "_Layout"; ViewBag.Title = "All Locations";}

<h2>All Locations</h2>
<a asp-action="AddLocation" class="btn btn-sm btn-primary">Add Location</a>
<a asp-action="GetLocation" class="btn btn-sm btn-secondary">Get Location</a>

<table class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
            <th>LocationID</th>
            <th>Location Name</th>
            <th>Location Desc</th>
            <th>Latitude</th>
            <th>Longitude</th>
            @*<th>Update</th>
            <th>Delete</th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
        <tr>
            <td>@r.LocationID</td>
            <td>@r.LocationName</td>
            <td>@r.LocationDesc</td>
            <td>@r.Latitude</td>
            <td>@r.Longitude</td>
            @*<td>
                <a asp-action="UpdateLocation" asp-route-id="@r.LocationID">
                    <img src="/icon/edit.png" />
                </a>
            </td>
            <td>
                <form asp-action="DeleteLocation" method="post">
                    <input type="hidden" value="@r.LocationID" name="LocationId" />
                    <input type="image" src="/icon/close.png" />
                </form>
            </td>*@
        </tr>
        }
    </tbody>
</table>