﻿@model Location
@{ Layout = "_Layout"; ViewBag.Title = "Update a Location";}

<h2>Update a Location <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h2>
<form method="post">
    <div class="form-group">
        <label asp-for="LocationID"></label>
        <input class="form-control" asp-for="LocationID" readonly />
    </div>
    <div class="form-group">
        <label asp-for="LocationName"></label>
        <input class="form-control" asp-for="LocationName" />
    </div>
    <div class="form-group">
        <label asp-for="LocationDesc"></label>
        <input class="form-control" asp-for="LocationDesc" />
    </div>
    <div class="form-group">
        <label asp-for="Latitude"></label>
        <input class="form-control" asp-for="Latitude" />
    </div>
    <div class="form-group">
        <label asp-for="Longitude"></label>
        <input class="form-control" asp-for="Longitude" />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Update</button>
    </div>
</form>

@if (ViewBag.Result == "Success")
{
    <h2>Location</h2>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead>
            <tr>
                <th>LocationID</th>
                <th>Location Name</th>
                <th>Location Desc</th>
                <th>Latitude</th>
                <th>Longitude</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.LocationID</td>
                <td>@Model.LocationName</td>
                <td>@Model.LocationDesc</td>
                <td>@Model.Latitude</td>
                <td>@Model.Longitude</td>
            </tr>
        </tbody>
    </table>
}