﻿@using ImageSearch.WebApp.Extensions;

@model List<ImageInfo>

<div class="row">
    <div class="col">
        @foreach (List<ImageInfo> chunk in Model.ChunkBy(4))
        {
            @await Component.InvokeAsync("BingSearchImageRow", new { images = chunk })
        }
    </div>
</div>