﻿@model List<UserLocation>
@{ Layout = "_Layout"; ViewBag.Title = "User Locations";}

<h2>User Details @*<a asp-action="Index" class="btn btn-sm btn-secondary">Back</a>*@</h2>
<form asp-action="GetUserLocation" method="post">
    <div class="form-group">
        <label for="name">Username:</label>
        <input class="form-control" name="name" disabled value="@User.Identity.Name" />
    </div>
</form>

@if (Model.Count > 0)
{
    <h2>Locations</h2>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead>
            <tr>               
                <th>Location Name</th>
                <th>Location Description</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Remove Item</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Location.LocationName</td>
                    <td>@item.Location.LocationDesc</td>
                    <td>@item.Location.Latitude</td>
                    <td>@item.Location.Longitude</td>
                    <td>
                        <form asp-action="DeleteUserLocation" method="post">
                            <input type="hidden" value="@item.UserLocationId" name="id" />
                            <button type="submit" class="btn btn-sm btn-primary" onclick="return confirm('Are you sure you want to delete this location?');">Remove</button>
                        </form>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (ViewBag.Result == "Success")
{

}