﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="text-center">
            <h1 class="display-4">Image Search App</h1>
        </div>
    </div>
</div>


