﻿@{
    ViewData["Title"] = "About Dev";
}
<h1>@ViewData["Title"]</h1>

<p><strong>Technologies and tools used to develop this application</strong></p>
<br />
<ul>
    <li>Visual Studio 2019</li>
    <li>SQL Management studio 2016</li>
    <li>Fiddler</li>
    <li>Notepad++</li>
    <li>Git(also imported in DevOps)</li>
    <li>Application tested in google chrome browser</li>
    <li>
        <br />
        <p><strong> Here are some of the technologies and languages used in coding this project</strong></p>
        <ul>
            <li>MVC asp.net core with razor engine</li>
            <li>Entity framework core using Database first approach</li>
            <li>Azure cognitive services</li>
            <li>JQuery</li>
            <li>Web API</li>
            <li>SQL with stored procedures</li>
        </ul>
    </li>
</ul>